<!DOCTYPE html>
<!--  index.html -->
<html>
<head>
    <title>Welcome to NEWS</title>

    <style>
        body {
            width: 60%;
            margin: 10%;
        }
    
        div {
            padding: 20px;
        }
        #source_selector {
            margin: 20px;
            padding-left: 40px;
        }
    
        select option {
            font-size: 20px;
            color: blueviolet;
        }
    </style>    
</head>
<body>
    <h1>Simple News Reader</h1>

    <div>
        <a href="/headlines">Headlines for the USA</a>
    </div>
    <hr/>
    <div>
        <a href="/headlines/source?source=bbc-news">BBC Headlines</a>
    </div>
    <hr/>
    <h1>Select from news sources</h1>
    <form id="source_selector">
        <select name="news_sources">
        {% for tag, displayValue in sources.items() %}
            <option value="{{ tag }}">{{ displayValue }}</option>
        {% endfor %}            
<!--
          <option value="bbc-news">BBC News</option>
          <option value="reuters">Reuters News</option>
-->          
        </select>
        <input type="hidden" name="selected_value" id="selected-value">
    </form>

      
    <div>
        <a id="source_fetcher" href="/headlines/source?source=bbc-news">Get News by Source</a>
    </div>

    <script>
        // Add an event listener to the dropdown
        document.querySelector('select').addEventListener('change', function(event) {
            // Get the selected value
            const selectedValue = event.target.value;

            // Form the URL
            const url = `/headlines/source?source=${selectedValue}`;
        
            // Set the value of the hidden input
            document.getElementById( 'selected-value').value = selectedValue;
            document.getElementById( 'source_fetcher').href = url;
        });
    </script>
</body>
</html>